.cart-details{
    color: red;
    /* background-color: bisque; */
    padding: 20px 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-details img{
    width: 50%;
    position: sticky;
    top: 0;
    border-radius: 8px;
}
.row{
    width: 50%;
    height: 5px;
    background-color: red;
    margin-left: 25%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.226), rgb(0, 119, 255), rgb(255, 115, 0));
}
.text{
    color: blue;
    text-align: justify;
}